body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4e9dc;
    color: white;
    overflow: auto; /* or overflow-y: scroll; to always show vertical scrollbar */
    height: 100%;
    color: #736257;
}



.left-column{
    flex-basis: 50%;
    padding: 20px;
    text-align: center;
    
}
.right-column {
    flex-basis: 50%;
    padding: 20px;
    text-align: center;
    background-color: #736257;
    flex: 1; 
    color: #f4e9dc;                 /* Each item will fill an equal part of the container */

}
.logo{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 10px;
    
}

h1 {
    margin: 0 0 10px 0;
    font-size: 2em;
}

.subtitle, .contract-address {
    margin: 5px 0;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.hero-quote {
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    
}
.hero-quote1 {
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;            /* Set container height to 100% of the viewport height */
    margin-top: 50px; 
    /* justify-content: space-around; */
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.icons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 300px;
    height:  300px;
}

.memes-grid {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 50px;
    width: 100%;
    padding: 20px;
    margin-left: 50px;
}

.meme img {
    width: 80%;
    height: auto;
    display: block;
    border-radius: 5%;

}

.tokenomics {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    width: 100%;
    background: #f4e9dc;
    color: #736257;

}

.tokenomics h2 {
    margin-bottom: 20px;
}

.token-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #f4e9dc;
    gap: 50px;
    color: #736257;

}

.token-details div {
    text-align: center;
    background: #f4e9dc;
    color: #736257;

}

.token-details img {
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

.token-details h3 {
    margin: 5px 0;
}

.token-details p {
    font-family: 'Courier New', monospace;
}

footer {
    margin: 20px;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

h2, h3 {
    margin: 10px 0;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

h1{
    margin: 10px 0;
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
}

.p2 {
    margin: 5px 0;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}







.icons-container {
    display: flex;        /* Establishes a flex container */
    justify-content: space-between; /* Distributes space between icons */
    align-items: center;  /* Aligns icons vertically in the center */
    width: 100%;          /* Full width of the container */
    padding: 20px 0;      /* Padding for some space above and below the icons */
  }
  .icon {
    flex: 1;              /* Each icon will take equal width */
    text-align: center;   /* Centers the content of each icon */
  }
  /* Just adding some basic styling for clarity */
  .icon img {
    width: 50px;          /* Example icon width, adjust as needed */
    height: auto;         /* Maintain aspect ratio */
  }
